footer {
	background-color: #222222;
	padding: 1rem 0;

	.social {
		text-align: center;

		i {
			margin-right: 4px;
			cursor: pointer;

			&:hover {
				color: #776a7b;
			}

			span {
				margin: 0 5px;
			}
		}
	}

	p {
		padding-top: 1rem;
		color: #dedede;
		text-align: center;
	}
}
